@(results: List[modules.search.GithubRepos])

@main("Welcome to Play 2.1") {
<ul>
  @results.map { result =>
    <li class="span5 clearfix" style="list-style-type: none; display:block; margin-bottom: 10px">
      <div class="thumbnail clearfix">
        <div class="caption" >
          <a data-owner=@result.owner data-repo-name=@result.name  href="#" class="btn btn-primary icon  pull-right count-repos">Contributors repos</a>
          <h4>      
          <a href="#" >@result.owner / @result.name</a>
          </h4>
        </div>
      </div>
    </li>
  }
<ul>

}
